
    .loginwrapper{
        display: flex;
        justify-content: center;
    }
    .card-cont{
        width: 27vw;
        margin-top:5rem;
        padding:0 1.5rem;
    }
    .bottom-card{
        margin: 2rem 0;
        padding: 0.6rem 0;
    }
    a{
        text-decoration: none;
        color:purple ;
    }
    .imgcar{
        margin-top: 5rem;
        height: 590px;
        width: 441px  ;
        position: relative;
    }
    .car{
        position: absolute;
        height: 423px;
        width: 241px;
        top:23px;
        left:143px;
    }
