.video-cont{
    height: 80vh;
    border-radius: 12px;
    background-color: white;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  
}
.video-cont::-webkit-scrollbar{
    display: none;
}
.videos{
    scroll-snap-type: start;
    position: relative;
    
}
.fa {
    position: absolute;
    bottom:100px;
    left:10px;
    color: white;
}
.fa h3{
    margin-left: 5%;
    font-weight: 200;
}
.icon-styling{
    position: absolute;
    bottom: 48px;
    left:20px;
    border: 1px sold white;
    /* color:red; */
    margin:0.8rem 0;
}
.like{
    color: red;
}
.unlike{
    color:white
}
.chat-styling{
    position: absolute;
    bottom:60px;
    left:50px;
    color:white;
}
.modal-video{
    display: flex;
    justify-content: center;
    width: 50%;
}
.comment-cont{
    padding: 1rem;
    width: 50%;
   
}
.modal-video video{
    height: 84vh;
}
.card1{
    height: 73vh;
}